
.header {
    display: grid;
    grid-area: h;
    grid-template-columns: 1fr 5fr 1fr;
    background-image: url("https://cdn.eso.org/images/screen/vlt-mw-potw.jpg");
    justify-content: center;
}

.header img {
    width: 80px;
    margin: 15px;
}

.header h1 {
    text-align: center;
    float: none;
}

.loginBlock {
    text-align: center;
    padding-top: 30px;
}
.loginBlock a {
    text-decoration: none;
    color: gold;
}

