
.header {
    display: grid;
    grid-area: h;
    grid-template-columns: 1fr 5fr;
    background-color: lightslategrey;
    justify-content: center;
}

.header img {
    width: 80px;
    margin: 15px;
}

.header h1 {
    text-align: center;
    float: none;
}

