


.nav {
    grid-area: n;
    background-color: mediumturquoise;
    padding: 20px;
}

/*.item {*/
/*    color: white;*/
/*}*/


.item a {
    color: white;
    text-decoration: none;
}
.item a.active {
    color: gold;
}

/*.nav {*/
/*    grid-area: n;*/
/*    background-color: burlywood;*/
/*    padding: 20px;*/
/*}*/

/*.item a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

/*.item a.activeLink {*/
/*    color: gold;*/
/*}*/

