
.appWrapper {
    margin: auto;
    width: 100vw;
    display: grid;
    grid-template-areas: "h h" "n c";
    grid-template-columns: 1fr 9fr;
}

.appWrapperContent {
    grid-area: c;
    background-color: cornflowerblue;
    /*width: 90vw;*/
}

