
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: lightsteelblue;
}

.dialogsItem {
    padding: 10px;
}

.dialogs .dialog {
    padding: 10px;
}

.massages {
    padding: 10px;
}

.massages .massage {
    padding: 10px;
}

.dialog a {
    color: white;
}